/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html{
  line-height:1.15;
  -webkit-text-size-adjust:100%; }
body{
  margin:0; }
main{
  display:block; }
h1{
  font-size:2em;
  margin:0.67em 0; }
hr{
  -webkit-box-sizing:content-box;
          box-sizing:content-box;
  height:0;
  overflow:visible; }
pre{
  font-family:monospace, monospace;
  font-size:1em; }
a{
  background-color:transparent; }
abbr[title]{
  border-bottom:none;
  text-decoration:underline;
  -webkit-text-decoration:underline dotted;
          text-decoration:underline dotted; }
b,
strong{
  font-weight:bolder; }
code,
kbd,
samp{
  font-family:monospace, monospace;
  font-size:1em; }
small{
  font-size:80%; }
sub,
sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline; }

sub{
  bottom:-0.25em; }

sup{
  top:-0.5em; }
img{
  border-style:none; }
button,
input,
optgroup,
select,
textarea{
  font-family:inherit;
  font-size:100%;
  line-height:1.15;
  margin:0; }
button,
input{
  overflow:visible; }
button,
select{
  text-transform:none; }
button,
[type="button"],
[type="reset"],
[type="submit"]{
  -webkit-appearance:button; }
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner{
  border-style:none;
  padding:0; }
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring{
  outline:1px dotted ButtonText; }
fieldset{
  padding:0.35em 0.75em 0.625em; }
legend{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  color:inherit;
  display:table;
  max-width:100%;
  padding:0;
  white-space:normal; }
progress{
  vertical-align:baseline; }
textarea{
  overflow:auto; }
[type="checkbox"],
[type="radio"]{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  padding:0; }
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button{
  height:auto; }
[type="search"]{
  -webkit-appearance:textfield;
  outline-offset:-2px; }
[type="search"]::-webkit-search-decoration{
  -webkit-appearance:none; }
::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit; }
details{
  display:block; }
summary{
  display:list-item; }
template{
  display:none; }
[hidden]{
  display:none; }
article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main,
details,
menu{
  display:block; }

html{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  color:#fff;
  font-family:"Roboto", sans-serif;
  line-height:1.6;
  font-weight:400;
  background:#c3dfe3;
  height:100%;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale; }

*{
  -webkit-box-sizing:inherit;
          box-sizing:inherit; }
  *:before, *:after{
    -webkit-box-sizing:inherit;
            box-sizing:inherit; }

body{
  height:100%; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  margin:0;
  margin-bottom:.5em;
  color:#525056;
  font-family:"Montserrat", sans-serif;
  line-height:1.2; }
  p + h1, p + .h1, p +
  h2, p + .h2, p +
  h3, p + .h3, p +
  h4, p + .h4, p +
  h5, p + .h5, p +
  h6, p + .h6{
    margin-top:1em;
    color:#525056; }

h1, .h1{
  font-size:1.875em; }

h2, .h2{
  font-size:1.125em;
  text-transform:uppercase;
  letter-spacing:.0555em; }

.hero-callout-title{
  margin:auto;
  margin-bottom:2em; }
  .hero-callout-title h1{
    font-family:'Raleway', sans-serif;
    font-weight:700;
    width:100%;
    margin:auto;
    margin-bottom:0.2em;
    font-size:52px; }

p{
  margin-bottom:3em;
  font-size:24px;
  color:#525056;
  font-family:'Raleway', sans-serif; }

ol,
ul{
  margin-bottom:1em; }

li{
  margin:0; }
  li + li{
    margin-top:.5em; }

img,
video,
object{
  max-width:100%;
  height:auto; }

p{
  margin:0;
  margin-bottom:1em;
  font-size:1.0625em; }

small{
  font-size:0.764705882em;
  line-height:1.4; }

address{
  font-style:normal; }
a{
  color:#fff;
  -webkit-transition:color 500ms;
  -o-transition:color 500ms;
  transition:color 500ms; }
  a:hover, a:focus{
    color:#fff; }
  a[href^="mailto"], a[href^="tel"]{
    color:#fff;
    text-decoration:none; }

.hero-callout{
  text-align:center; }
  .hero-callout h2{
    margin:0;
    margin-top:1.5em; }

.wrap{
  margin:0 auto;
  padding:0 1em;
  max-width:79em; }
  .wrap:after{
    display:block;
    clear:both;
    content:' '; }

.site-wrap{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  height:100%;
  background-color:#C2DFE3;
  background-size:cover; }

.icon-block{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  margin-bottom:5em; }
  .icon-block .icon-col{
    position:relative;
    padding-top:1em;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    font-family:'Open Sans', sans-serif; }
    .icon-block .icon-col img{
      margin-bottom:1.5em; }
    .icon-block .icon-col p{
      padding:0 3em;
      font-size:18px;
      font-family:'Open Sans', sans-serif; }

.icon-col:first-child:after{
  display:none; }

.icon-col:last-child:after{
  top:-22px !important; }

.site-footer{
  padding:2em 0;
  text-align:center;
  background-color:#383838; }

.site-footer .wrap{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center; }
  .site-footer .wrap .footer-copyright{
    text-align:left;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1; }
    .site-footer .wrap .footer-copyright p{
      margin:0;
      line-height:3;
      color:white; }
  .site-footer .wrap .footer-social{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    text-align:right; }
    .site-footer .wrap .footer-social img{
      margin-right:1em; }

a[href^=mailto], a[href^=tel]{
  color:#525056;
  text-decoration:underline; }
  a[href^=mailto]:hover, a[href^=tel]:hover{
    color:#C45628; }

.site-header{
  padding:2em 0;
  text-align:center; }

.site-branding{
  margin-bottom:2em; }
  .site-branding a{
    display:inline-block;
    vertical-align:top;
    -webkit-transition:opacity 500ms;
    -o-transition:opacity 500ms;
    transition:opacity 500ms; }
    .site-branding a:hover, .site-branding a:focus{
      opacity:.75; }
    @media screen and (min-width: 47.5em){
    h1, .h1{
      font-size:2.4375em; }
    .hero-callout-title{
      width:700px;
      margin-bottom:5em; }
      .hero-callout-title h1{
        width:550px; }
    .icon-block{
      -webkit-box-orient:horizontal;
      -webkit-box-direction:normal;
          -ms-flex-direction:row;
              flex-direction:row; }
      .icon-block .icon-col:after{
        content:"";
        position:absolute;
        left:2px;
        top:-10px;
        bottom:11px;
        background:#a0bcc0;
        height:245px;
        right:2px;
        width:2px; }
    .site-footer .wrap{
      -webkit-box-orient:horizontal;
      -webkit-box-direction:normal;
          -ms-flex-direction:row;
              flex-direction:row;
      -webkit-box-pack:justify;
          -ms-flex-pack:justify;
              justify-content:space-between; }
    .site-header{
      padding-top:6em;
      padding-bottom:0; } }
