
html {
  box-sizing: border-box;
  color: $text-color;
  font-family: $base-font-family;
  line-height: 1.6;
  font-weight: 400;
  background: #c3dfe3;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  height: 100%;
}
