
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  margin-bottom: .5em;
  color: #525056;
  font-family: $heading-font-family;
  line-height: 1.2;

  p + & {
    margin-top: 1em;
    color: #525056;
  }
}

h1, .h1 {
  font-size: 1.875em;

  @include breakpoint($bp-med) {
    font-size: 2.4375em;
  }
}

h2, .h2 {
  font-size: 1.125em;
  text-transform: uppercase;
  letter-spacing: .0555em;
}

.hero-callout-title{
    margin: auto;
    margin-bottom: 2em;
    @include breakpoint($bp-med){
      width: 700px;
      margin-bottom: 5em;
    }
    h1{
          font-family: 'Raleway', sans-serif;
      font-weight: 700;
      width: 100%;
      margin: auto;
      margin-bottom: 0.2em;
      font-size: 52px;
      @include breakpoint($bp-med){
        width: 550px;
      }
    }
  }
  p{
    margin-bottom: 3em;
    font-size: 24px;
    color: #525056;
    font-family: 'Raleway', sans-serif;
  }
