
p {
  margin: 0;
  margin-bottom: 1em;
  font-size: 1.0625em;
}

small {
  font-size: 0.764705882em;
  line-height: 1.4;
}

address {
  font-style: normal;
}


/**
 * Inline
 */

a {
  color: $link-color;
  transition: color 500ms;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }

  &[href^="mailto"],
  &[href^="tel"] {
    color: $text-color;
    text-decoration: none;
  }
}
