
.wrap {
  @include clearfix;
  margin: 0 auto;
  padding: $max-width-spacing;
  max-width: 79em;
}

.site-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #C2DFE3;
  background-size: cover;
}

.icon-block{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5em;
  @include breakpoint($bp-med){
    flex-direction: row;
  }
  .icon-col{
    position: relative;
    padding-top: 1em;
    flex: 1;
    font-family: 'Open Sans', sans-serif;
    @include breakpoint($bp-med){
      &:after{
        content: "";
        position: absolute;
        left: 2px;
        top: -10px;
        bottom: 11px;
        background: #a0bcc0;
        height: 245px;
        right: 2px;
        width: 2px;
      }
    }
    img{
      margin-bottom: 1.5em;
    }
    p{
      padding: 0 3em;
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
    }
  }
}


.icon-col{
  &:first-child{
    &:after{
      display: none;
    }
  }
  &:last-child{
    &:after{
      top: -22px !important;
      /* bottom: 20px; */
    }
  }
}
