
@mixin visuallyhidden {
  position: absolute;
  border: 0 none;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect( 0 0 0 0 );

  // Allow focus
  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

@mixin clearfix {
  &:after {
    display: block;
    clear: both;
    content: ' ';
  }
}

@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}
