
/**
 * Breakpoint Sizes
 */

$bp-small:  30em;   // 480px;
$bp-med:    47.5em; // 760px;
$bp-large:  60em;   // 960px;
$bp-xl:     75em;   // 1200px;
$bp-mega:   100em;  // 1600px;


/**
 * Fonts
 */

$base-font-family: 'Roboto', sans-serif;
$heading-font-family: 'Montserrat', sans-serif;


/**
 * Colors
 */

// Brand Colors

$brand-black: #1e201f;
$brand-grey--dark: #1c1c1c;

$brand-blue: #1a5eff;
$brand-red: #1900ff;


// Theme Colors

$body-bkg-color: $brand-black;

$text-color: #fff;
$heading-color: #fff;

$link-color: #fff;
$link-color--hover: #fff;


/**
 * Blocks
 */


$max-width: 49.5em;

$max-width-spacing: 0 1em;
