
.site-footer {
  padding: 2em 0;
  text-align: center;
  background-color: #383838;
}


.site-footer{
  .wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint($bp-med){
      flex-direction: row;
      justify-content: space-between;
    }
    .footer-copyright {
      text-align: left;
      flex: 1;
      p {
        margin: 0;
        line-height: 3;
        color: white;
      }
    }
    .footer-social{
    flex: 1;
    text-align: right;
    img{
      margin-right: 1em;
    }
    }
  }
}
a[href^=mailto], a[href^=tel]{
    color: #525056;
    text-decoration: underline;
    &:hover{
      color: #C45628;
    }
}
