
.site-header {
  padding: 2em 0;
  text-align: center;

  @include breakpoint($bp-med) {
    padding-top: 6em;
    padding-bottom: 0;
  }
}

.site-branding {
    margin-bottom: 2em;
  a {
    display: inline-block;
    vertical-align: top;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: .75;
    }
  }
}
